extends template
block content
    #container
        .centering-div
            #simulation
block append scripts
    script(src="/js/simulation.js")
    script.
        Elm.Main.init({node: document.getElementById("simulation")});
